$padding : 10px 15px 10px 15px;
$bg-color : #1e1f24;
$highlight-color : #9499b0;
$shadow-color : #2c3149;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: $bg-color;
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow-y: scroll;
}

div.scroll-snap {
  scroll-snap-type: y mandatory;

}

section {
  scroll-snap-align: center;
}

section:first-of-type {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // padding: 10% 0 25% 0;

  img {
max-width: 40%;
object-fit: contain;
// padding: 5% 2% 5% 0;
  }

  h1 {

    font-size: 3vw;
    font-weight: bold;
  }

  h1,
  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-bottom: 5%;
  }

  a {

    background-color: $shadow-color;
    color: white;
    padding: $padding;
    text-decoration: none;
  }
}


section ul li {
  list-style-type: none;
}

section ul li img {
  max-width: 40%;
}

div.panel {
  opacity: 0;
  max-width: 50%;

  li {
    display: flex;
    flex-direction: row;
    list-style: none;



    img {
      justify-content: center;
      max-width: 50%;
      max-height: 70%;
      object-fit: contain;
    }

    div {
      padding: 0 0 0 5%
    }

    h2 {
      font-size: 200%;
      padding-bottom: 3%;
    }

    h3 {
      padding: 2% 0 2% 0;
      font-size: 90%;
      font-weight: 300;
    }

    h3 span {
      font-weight: bold;
    }
  }
}



img#painting {
  cursor: pointer;
  max-width: 30vw;
  height: 30vh;
}



g.tick,
path.domain {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 300%;
  color: $highlight-color;
}

/* Panel styling */
.panel {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Optional panel appearance effect */
.panel.show {
  opacity: 1;
}

.painting-line {
  transition: opacity 0.3s ease;
}

