body {
  background: white;
  font-family: sans-serif;
}

section ul li {
  list-style-type: none;
}

section ul li img {
  max-width: 40%;
}

#tooltip {
  position: absolute;
  background: #444444;
  color: #ffffff;
  font-family: sans-serif;
  padding: 0.5em;
  box-shadow: 5px 3px 14px -1px rgba(0,0,0,0.46);
  border-radius: 5px;
  opacity: 0;
  pointer-event: none;
  max-width: 200px;
}