$padding : 10px 15px 10px 15px;


* {
  margin: 0;
  padding: 0;
  // overflow-x: hidden;

}


body {
  background: white;
  font-family: sans-serif;
  max-width: 100vw;
}

section:first-of-type {
  background-image: url("./images/bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    max-width: 40%;
    padding: 5%;


  }

  h1 {

    font-size: 3vw;
    font-weight: bold;
  }

  h1,
  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-bottom: 5%;
  }

  a {

    background-color: #ffffff;
    color: black;
    padding: $padding;
    text-decoration: none;
  }
}



section ul li {
  list-style-type: none;
}

section ul li img {
  max-width: 40%;
}

#tooltip {
  position: absolute;
  background: #444444;
  color: #ffffff;
  font-family: sans-serif;
  padding: 0.5em;
  box-shadow: 5px 3px 14px -1px rgba(0, 0, 0, 0.46);
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  max-width: 200px;
}

.panel {
  position: absolute;
  background: #444444;
  color: black;
  margin-top: 100vh;
  padding: 3%;
  left: 88vw;
  height: 100vh;
  top: 0;
  opacity: 0;
  width: 100px;
}


.delete {
  opacity: 0;
}

.toggle {
  opacity: 1;
}