$padding : 10px 15px 10px 15px;
$bg-color : #1e1f24;
$highlight-color : #9499b0;
$shadow-color : #2c3149;


* {
  margin: 0;
  padding: 0;
  // overflow-x: hidden;

}


body {
  background:$bg-color;
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 100vw;
  overflow-y: scroll;
 
 
}

div.scroll-snap {
  scroll-snap-type: y mandatory;
  // scroll-snap-points-y: repeat(100vh);
 
  height:100vh;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

section:first-of-type {
  background-image: url("./images/bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;


  div {
    max-width: 40%;
    padding: 5%;


  }

  h1 {

    font-size: 3vw;
    font-weight: bold;
  }

  h1,
  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-bottom: 5%;
  }

  a {

    background-color: $shadow-color;
    color: white;
    padding: $padding;
    text-decoration: none;
  }
}


section:nth-of-type(2) {
  background-color: $bg-color;
  color: $highlight-color;
  height: 50vh;
  padding: 15% 25% 15% 25%;

  h2, p {
    text-align: center;
  }
}





section ul li {
  list-style-type: none;
}

section ul li img {
  max-width: 40%;
}

.panel {
  position: absolute;
  background:  $shadow-color;
  color: $highlight-color;
  padding: 6%;
  overflow-y: scroll;
  right: 0;
  height: 90vh;
  top: 200%;
  opacity: 0;
  width: 400px;

  li {
    list-style: none;
  }

  li img {
    height: 300px;
  }

  h2,  h3{
    padding-bottom: 2%;
  }
  p {
    bottom: 0;
  }
}


button {
  z-index: 3;
color: $bg-color;
}

g.tick, path.domain {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 300%;
  color: $highlight-color;
}


.open {
  opacity: 1;
}

